/* ESTILO BÁSICO  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO GENERAL */

body {
    font-family: Arial, sans-serif;
}

/* ESTILO TARJETAS */

.targeta-tasca {
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    border-left: 6px solid transparent;
}
.titol-tasca {
    font-size: 1.1rem;
    font-weight: bold;
    color: #1f2937;
}
.prioritat-alta {
    border-left-color: #ef4444;
}

.prioritat-mitjana {
    border-left-color: #facc15;
}

.prioritat-baixa {
    border-left-color: #22c55e;
}
.boto-editar {
    background-color: #2563eb;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 0.5rem 1rem;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.boto-editar:hover {
    background-color: #1d4ed8;
}
.boto-eliminar {
    background-color: #b60707;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 0.5rem 1rem;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.boto-eliminar:hover {
    background-color: #aa0606;
}

/* Altura mínima para que la función de drag and drop sea más fácil de hacer funcionar */

#tasques-perFer,
#tasques-enCurs,
#tasques-fet {
    min-height: 200px;
}